.Navigation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 9;
    display: none;
}

.Navigation.open {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0, 0.9);
}